* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    display: flex;
}

#container {
    justify-content: center;
}

/* --- HEADER --- */

nav {
    display: flex;
    background-color: #FFFFFF;
}

#agrupador_logo_pesquisas {
    height: 34px;
    display: flex;
}

#home_linkedin {
    display: flex;
    height: 100%;
    margin-right: 7px;
}

#barra_pesquisa {
    width: 235px;
    background-color: #EEF3F7;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input_barra_pesquisa {
    width: 100%;
    height: 100%;
    background-color: #EEF3F7;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

#input_barra_pesquisa:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#imagem_lupa {
    width: 11px;
    height: 11px;
    padding: 12px 8px 11px 15px;
}

#input_barra_pesquisa::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
